{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


<ul>
    {% for el in menu %}
    <li>
        <a href="{% url el.url_name %}">{{ el.title }}</a>
    </li>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <li> {{ user.username }} |
        <a href="{% url 'logout' %}"> logout </a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'register' %}"> register </a> | <a href="{% url 'login' %}"> login </a>
    </li>
    {% endif %}
</ul>
<ul>
    {% if cat_selected == 0 %}
        <li>
            Home
        </li>
    {% else %}
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
    {% endif %}
    {% for el in cats %}
    {% if el.women__count > 0 %}
        <li>
            <a href="{{ el.get_absolute_url }}">{{ el.name }}</a>
        </li>
    {% endif %}
    {% endfor %}
</ul>
{% block content %}
{% endblock content %}
<div>
    <ul>
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for el in paginator.page_range %}
            {% if page_obj.number == el %}
            <li>
                {{ el }}
            </li>
            {% elif el >= page_obj.number|add:-2 and el <= page_obj.number|add:2 %}
            <li>
                <a href="?page={{ el }}">{{ el }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}

    </ul>
</div>
</body>
</html>